// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  margin: 0px;
}

.task-detail {
  display: flex;
  align-items: center;
  margin-top: 0px;

}

.task-detail h2, h1, p {
  padding-left: 20px;
  padding-right: 20px;
}

#detail {
  color: blue;
}
